.profile{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(37, 46, 80);
    margin-left: auto;
    margin-right: auto;
}

.description{
    display: flex;
    flex-direction: column;
   padding-top: 20px;
   padding-bottom: 20px;
   align-items: center;
}

.avatar{
    width: 100px;
    border-radius: 50%;
}

.name{
    color: #140f0f;
    font-size: 18px;
    font-weight: 700;
    margin: 10px auto 5px;
}
.tag{
    color: rgb(196, 190, 190);
    margin: 5px auto 5px;
}
.location{
color: rgb(196, 190, 190);
    margin: 5px auto 5px; 
}
.stats{
    display: flex;
    list-style:none;
    width: 100%;
    margin:0;
    padding: 0;
    border-top: 1px solid rgb(196, 190, 190);
    
}

.items{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: rgb(216, 231, 231);
}
.items:not(:last-child){    
    border-right: 1px solid rgb(196, 190, 190);
}

.label{
  color:  rgb(156, 159, 163);
}

.quantity{
    margin-top:5px;
    font-weight: 700;
}